html {
  background-color: #18191a;
  scroll-behavior: smooth;
}
.navbar {
  background-color: #242526;
}
.navbar-start a {
  color: rgb(141, 141, 141);
}
.navbar-start a:hover {
  background-color: #2d88ff;
  color: #fff;
}
.navbar-mobile {
  background-color: #242526;
}
.img_circle {
  border-radius: 50%;
  object-fit: cover;
}
.main_page {
  background-image: url('https://wallpaperaccess.com/full/2918065.jpg');
  background-color: #18191a;
  background-repeat: no-repeat;
  background-attachment: cover;
  background-position: right;
  background-size: cover;
  height: 100vh;
}
.before_name {
  font-size: 1.5em;
  padding: none;
  color: #fff;
}
.name {
  color: #fff;
  font-weight: bold;
  font-size: 3em;
}
.name a {
  color: #fff;
  font-weight: bold;
}
.about {
  color: #fff;
  margin-top: 5em;
}
.about_header h1 {
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}
.about_header h2 {
  text-align: center;
  color: #2d88ff;
  font-size: 1.5em;
}
.about_content {
  color: #fff;
  font-size: 1.3em;
}
.about_content span {
  color: #2d88ff;
}

.line_trought {
  text-align: center;
  position: relative;
}
.line_trought span {
  background: #18191a;
  z-index: 100;
  position: relative;
  padding: 10px;
}
.line_trought::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  top: 50%;
  background: #fff;
  z-index: 50;
}

.nextjs {
  background-color: #fff;
  border-radius: 50%;
}

/* classes de pagina proyects */
.proyects {
  margin-top: 5em;
}
.card_pro {
  padding: 1em;
  background-color: #282828;
}
.card_href {
  color: #fff;
}
.card_href:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #2d88ff;
}

/* classes de pagina contacto*/
.contact {
  margin-top: 5em;
  color: #fff;
}
.contact_logo {
  width: 30px;
}
.contact_h2 {
  color: #2d88ff;
}
.contact_items {
  margin-top: 0.3em;
  margin-left: 0.5em;
}

/* classes de pagina footer */
.footer {
  background-color: #4a4a4a;
  color: #fff;
  height: 40px;
  margin-top: 2.5em;
}
.footer_name {
  font-size: 1.3rem;
  font-weight: bold;
  color: #2684ff;
}
.footer_social {
  width: 30px;
  margin-right: 0.5em;
}

/* animar navbar show */
.navbar-menu.is-active {
  animation: navAnim 0.2s ease-in-out;
}

@keyframes navAnim {
  0% {
    display: none;
    opacity: 0;
    height: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: 215.33px;
  }
}

/* animarr cada card */
.cardAnimate:hover {
  animation: pulse;
  animation-duration: 2s;
}
